html,body
{
  height:100%;
  margin:0;
  width: 100%;

  font-family: Tahoma,verdana,Arial,Helvetica,sans-serif;
  font-size: 11px;
  color: black;
}
div,span,html,body,a,form{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin:0;
  padding:0;
}
a{
  color: black;
  text-decoration: underline;
}
a:hover{
  text-decoration: none;
}

table
{
  font-family: Tahoma,verdana,Arial,Helvetica,sans-serif;
  font-size: 11px;
  color: black;
}


/*** LOGIN CSS ***/
.inormal,.ilong,.fr_combo,select,input{
  font-family: Tahoma,verdana,Arial,Helvetica,sans-serif;
  font-size: 11px;
  padding: 1px;
}
#login2{
  position: relative;
  top: 50px;
  left: 50px;
  width: 325px;
  text-align: left;

  background-color: #C3DAF9;
  background-repeat: repeat-y;
  background-position: left top;
  background-image: url('bg.gif');
}
#login2,.inormal,.ilong,.fr_combo,.fr_button,.button{
  border-width: 1px;
  border-style: solid;
  border-color: #002D96;
}
#loginimg,.txtheader{
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: white;

  background-repeat: repeat-x;
  background-position: 50px 49%;
  background-image: url('buttonbg.gif');
}

#log1,#log2,#log3{
float: right;
margin-left: 3px;
}
.centered{
  text-align: center;
}
.inormal{
  width: 120px;
}
.ilong{
  width: 100%;
}
.pad10{
  padding: 10px 0 10px 0;
}
.pad1010{
  padding: 10px 10px 10px 10px;
}
.button,.button100,.fr_button
{
  border-width: 1px;
  color: white;
  font-weight: bold;
  font-size: 11px;
  height: 18px;
  margin: 0 0 0 0;
  padding: 0;

  background-repeat: repeat-x;
  background-position: 50px 49%;
  background-image: url('buttonbg.gif');

  background-color: #3163BD;
}

hr{
 color:#002D96;
}
#expiredmail
{
  background-color: #FFF;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}